.sidebar {
    width: 270px;
    min-width: 50px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
}

.sidebar__logo {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #03c04a;
    font-size: 40px;

}


.sidebaradmin-logo{
    margin-top: 80px;
}


.sidebar__item {

    padding: 0 20px;
}

.sidebar__item-inner {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: color 0.3s ease 0s;

}

.sidebar__item-inner > i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.sidebar__item-inner > span {
    text-transform: capitalize;
}

.sidebar__item-inner:hover {
    color: #03c04a;
}

.sidebar__item-inner.active {
    border-radius: var(--border-radius);
    background-color: #03c04a;
    color: var(--txt-white);
}
